<table class="profile" summary="Profile information">
  <tr>
    <strong>FIO</strong> <%= @user.fio %><br />
    <strong>User type</strong> <%= UserType.find(@user.user_type_id).name %>
  </tr>
</table>
