<%- model_class = Survey -%>


<div class="row-fluid">
 <div class="span3 page-header">
  <h3>Пациенты</h3>
 </div>
 <div class="span4" style="margin-top: 35px;">
  <%= form_tag surveys_path, :method => 'get', :id => 'surveys_search', :class => 'form-search' do %>
    <%= select_tag :search, options_from_collection_for_select(@pacients, "id", :fio), :id => "sp", :prompt => "Все" %>
  <% end %>
 </div>
</div>

<div id="surveys"><%= render 'surveys' %></div>

<div class="form-actions">
  <%= link_to new_survey_path,
              :class => 'btn btn-primary awhite' do %>
    <i class="icon-plus"></i> Добавить обследование
  <% end %>
</div>
