<%- model_class = Region -%>
<div class="page-header">
  <h1>Области</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td>
          <%= link_to "Изменить",
                      edit_region_path(region), :class => 'btn btn-mini' %>
          <%= link_to "Удалить",
                      region_path(region),
                      :method => :delete,
                      :data => { :confirm => "Вы уверены?",
                                  :title => "Подтверждение удаления"  },
                      :class => 'btn btn-mini btn-danger awhite' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Новая...",
            new_region_path,
            :class => 'btn btn-primary awhite' %>
