<% if signed_in? %>
<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Контакты", contacts_path %></li>
      <li><%= link_to "О системе", about_path %></li>
    </ul>
  </nav>
</footer>
<% end %>
